* {
  box-sizing: border-box;
  font-family: "Lucida Console", Monaco, monospace;
}

body {
  margin: 0;
  font-family: "Lucida Console", Monaco, monospace;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

/* Style the topnav links */
.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.main {
  margin-top: 30px;
}

/* Style the content */
.content {
  margin-top: 30px;
  text-align: center;
  background-color: #ddd;
  padding: 10px;
}

/* Custom change color on hover */
#button_red:hover {
  background-color: #d00;
  color: white;
}

#button_yellow:hover {
  background-color: #dd0;
  color: white;
}

#button_green:hover {
  background-color: #0d0;
  color: white;
}

#button_blue:hover {
  background-color: #00d;
  color: white;
}

/* Make links dark */
#dark_link {
  color: black;
}

#dark_link:hover {
  color: blue;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

a.anchor {
  display: block;
  position: relative;
  top: -30px;
  visibility: hidden;
}

/* Configuring all pictures to change when hovered over */

/* .picture class for pictures in general. Use as a template */
.picture {
  position: relative;
  display: inline-block;
}

.picture .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.picture:hover .img-top {
  display: inline;
}

/* .portrait class is used specifically for portrait on home page */
.portrait {
  position: relative;
  display: inline-block;
  width: 400px;
  height: auto;
  max-width: 100%;
}

.portrait .portrait-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 400px;
  height: auto;
  max-width: 100%;
}

.portrait:hover .portrait-top {
  display: inline;
}

/* .fig_img class is used for all images used as a <figure> */
.fig_img {
  position: relative;
  display: inline-block;
  width: 252px;
  height: auto;
  max-width: 100%;
}

.fig_img .fig_img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 252px;
  height: auto;
  max-width: 100%;
}

.fig_img:hover .fig_img-top {
  display: inline;
}

/* .header class used for all header images at tops of project pages */
.header_img {
  position: relative;
  display: inline-block;
  width: 504px;
  height: auto;
  max-width: 100%;
}

.header_img .header_img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 504px;
  height: auto;
  max-width: 100%;
}

.header_img:hover .header_img-top {
  display: inline;
}

video {
  border: 3px solid black;
}

p {
  margin-left: 5%;
  margin-right: 5%;
}

figure {
  display: inline-block;
}

/* Style the footer */
.footer {
  text-align: center;
  background-color: #f1f1f1;
  padding: 10px;
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  background: #606060;
  color: white;
}

/* Add a hover effect for each brand */
.fa-envelope-square:hover {
  background: #a31f34; /* MIT Red */
}

.fa-linkedin:hover {
  background: #0072b1; /* LinkedIn Blue */
}

.fa-facebook:hover {
  background: #39569c; /* Facebook Blue */
}

.fa-twitter:hover {
  background: #26A7de; /* Twitter Blue */
}
