* {
  box-sizing: border-box;
  font-family: "Lucida Console", Monaco, monospace;
}

body {
  margin: 0;
  font-family: "Lucida Console", Monaco, monospace;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Custom change color on hover */
#button_red:hover {
  background-color: #d00;
  color: white;
}

#button_yellow:hover {
  background-color: #dd0;
  color: white;
}

#button_green:hover {
  background-color: #0d0;
  color: white;
}

#button_blue:hover {
  background-color: #00d;
  color: white;
}

/* Make links dark */
#dark_link {
  color: black;
}

#dark_link:hover {
  color: blue;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Configuring all pictures to change when hovered over */
.picture {
  position: relative;
  display: inline-block;
}

.picture .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.picture:hover .img-top {
  display: inline;
}

/* Style the content */
.content {
  text-align: center;
  background-color: #ddd;
  padding: 10px;
}

/* Style the footer */
.footer {
  text-align: center;
  background-color: #f1f1f1;
  padding: 10px;
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  background: #606060;
  color: white;
}

/* Add a hover effect for each brand */
.fa-envelope-square:hover {
  background: #a31f34;
}

.fa-linkedin:hover {
  background: #0072b1;
}

.fa-facebook:hover {
  background: #39569c;
}

.fa-twitter:hover {
  background: #26A7de;
}
